<div class="container d-flex flex-column justify-content-center
    align-items-between" *ngIf="persona">
    <div class="row">
        <div class="d-flex justify-content-center">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" class="d-flex flex-wrap justify-content-around gap-2">

                <div class="divisor col-md-6">
                    <h1>Informacion Personal: </h1>
                    <div class="form-group my-2">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre"
                            name="nombre" [(ngModel)]="persona.nombre" required>
                    </div>

                    <div class="form-group py-4">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido"
                            name="apellido" [(ngModel)]="persona.apellido"
                            required>
                    </div>

                    <div class="form-group py-4">
                        <label for="fecha">Fecha de nacimiento: </label>
                        <input type="date" class="form-control" id="fecha"
                            name="fecha" [(ngModel)]="persona.fecha" required>
                    </div>

                    <div class="form-group py-4">
                        <label for="ciudad">Ciudad:</label>
                        <input type="text" class="form-control" id="ciudad"
                            name="ciudad" [(ngModel)]="persona.ciudad" required>
                    </div>
                </div>

                <div class="divisor col-md-6">
                    <h1>Contacto: </h1>
                    <div class="form-group py-4">
                        <label for="email">email</label>
                        <input type="email" class="form-control" id="email"
                            name="email" [(ngModel)]="persona.email" required>
                    </div>

                    <div class="form-group py-4">
                        <label for="celular">Numero telefonico: </label>
                        <input type="text" class="form-control" id="celular"
                            name="celular" [(ngModel)]="persona.celular"
                            required>
                    </div>

                    <div class="form-group py-4">
                        <label for="github">Link de Github: </label>
                        <input type="text" class="form-control" id="github"
                            name="github" [(ngModel)]="persona.github"
                            required>
                    </div>

                    <div class="form-group py-4">
                        <label for="whatsapp">Link de whatsapp: </label>
                        <input type="text" class="form-control" id="whatsapp"
                            name="whatsapp" [(ngModel)]="persona.whatsapp"
                            required>
                    </div>

                    <div class="form-group py-4">
                        <label for="linkedin">Link de Linkedin:  </label>
                        <input type="text" class="form-control" id="linkedin"
                            name="linkedin" [(ngModel)]="persona.linkedin"
                            required>
                    </div>
                </div>

                <div class="divisor col-md-6 px-4">
                    <h1>Otros : </h1>
                    <div class="form-group py-4">
                        <label for="titulo">Titulo:</label>
                        <input type="text" class="form-control" id="titulo"
                            name="titulo" [(ngModel)]="persona.titulo" required>
                    </div>
                    <div class="form-group py-4">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion"
                            name="descripcion" [(ngModel)]="persona.descripcion"
                            required>
                    </div>

                    <div class="form-group py-4">
                        <label for="banner">Banner url: </label>
                        <input type="text" class="form-control" id="banner"
                            name="banner" [(ngModel)]="persona.banner" required>
                    </div>

                    <div class="form-group py-4">
                        <label for="img">Imagen</label>
                        <input type="file" class="form-control" id="img"
                            name="img"
                            (change)="uploadImage($event)" accept=".jpg, .jpeg,
                            .png" no required>
                    </div>
                    <div class="imagen pt-2 d-flex justify-content-center">
                        <img [src]="imageS.url" alt="imagen" width="100px">
                    </div>

                </div>

                <button class="btn btn-warning w-100 my-2">
                    Editar persona
                </button>
            </form>
        </div>
    </div>
</div>