<div class="container my-3 w-100 d-flex flex-column justify-content-center align-items-between" *ngIf="skill">
    <div class="row">
        <div class="divisor">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group my-2">
                    <label for="nombre">Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
                </div>
                <div class="form-group py-4">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                </div>
                <div class="form-group py-4">
                    <label for="img">URL de Imagen</label>
                    <input type="text" class="form-control" id="img "name="img" [(ngModel)]="skill.img" required>
                </div>
                <button class="btn btn-warning w-100">
                    Editar skill
                </button>
            </form>
        </div>
    </div>
</div>
