
h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 600;
}

.container-fluid{
height: 100vh;
}

.row{
    padding:20px;

}

button img{
    height: 20px;
    width: 20px;
}

circle-progress{
    background-image: url(https://img.freepik.com/foto-gratis/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-hormigon_1258-48225.jpg);
    border-radius: 100%;
    border: 2px solid rgb(250, 250, 250);
    margin: 0 auto;
    display: block;

}

.botonera {
    border-radius: 50%;
    border: none;
    background-color: #ffffff10;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 12rem;
    width: 12rem;
    border: white solid 2px;

}

.botonera:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color: rgb(255, 255, 255);
    border: white solid 2px;

}

.botonera:active{
    color: rgb(255, 253, 253);
    border: white solid 2px;
}
.divisor {
  border-radius: 5px;
  padding: 15px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #c40b0b59;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);


}